.card-example {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.card-example::-webkit-scrollbar {
  display: none;
}

.card {
  position: inherit !important;
  min-width: 300px !important;
  height: 25rem;
  width: 19rem;
  padding-left: 0px;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
  height: 22vh;
}

.card-body {
  padding: 0px;
}

.view-btn {
  border-radius: 20px;
  background-color: rgb(57, 184, 31);
  padding-bottom: 1rem;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}
